header{
    background-color: #114C9C;
    display: flex;
    align-items: center;
    align-content: center;
    color: whitesmoke;
    margin: 50px 50px;
    padding: 50px;

}
header nav{
    background: #26B3B3;
    width: 500px;
    
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
li{
display: inline-block;
float: left;
padding-left: 12px;
}


a{
    background-color: #3B24BD;
    width: 100px;
    height: 90px;
    border-radius: 20px;
    text-decoration: none;
    color: white;
} 
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #F4CB21;
    text-transform: uppercase;
    text-align: center;
  }
  /*media queries*/
  @media only screen and (max-width: 600px) {
    body {
      background-color: #668F56;
    }
    header{
        background-color: green;
    }
    li a {
        display: inline-table;
    }
  }
  @media only screen and (max-width: 400px) {
   header {
      background-color: #BD6F24;
    }
    li a:hover {
        background-color: #8F2F10
        
      }
  }